  <meta charset="utf-8">
  {%- if page.draft or page.unlisted %}
  <meta name="robots" content="noindex">
  {%- endif %}
  {%- if page.draft %}
  <base href="{{ page.url | replace:'posts/','posts/%5Ddrafts/' }}/" />
  {%- endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title>{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}</title>
  {%- if page.layout == "default" %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@blu3id" />
  <meta name="twitter:creator" content="@blu3id">
  <meta name="fediverse:creator" content="@blu3id@mastodon.social" />
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="blu3id.uk">
  <meta property="og:url" content="{{ site.production_url }}{{ page.url | replace:'index.html',''}}">
  <meta property="og:title" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
  <meta property="og:image" content="{{ site.production_url }}/assets/og-preview/{{ page.url | replace:'index.html','' | split: '/' | last }}.png" />
  <meta property="og:image:alt" content="Screenshot of this article" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="600" />
  {%- assign title = page.title | prepend:'# ' %}
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_newlines | strip_html | truncatewords:30 }}{% else %}{{ page.content | replace:title,'' | markdownify | strip_html | truncatewords:30 | escape_once }}{% endif %}">
  <meta name="description" content="{% if page.description %}{{ page.description | strip_newlines | strip_html | truncatewords:30 }}{% else %}{{ page.content | replace:title,'' | markdownify | strip_html | truncatewords:30 | escape_once }}{% endif %}">
  {%- endif %}
  {%- if page.layout == "index" %}
  <meta name="description" content="{{ page.content | markdownify | strip_newlines | strip_html | truncatewords:30 | escape_once }}">
  <link rel="me" href="https://mastodon.social/@blu3id">
  {%- endif %}
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="canonical" href="{{ site.production_url }}{{ page.url | replace:'/index.html',''}}">
  <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ site.production_url }}/feed.xml">
  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/assets/icons/icon.svg" type="image/svg+xml" sizes="any">
  <link rel="manifest" href="/manifest.webmanifest">
  {%- if page.layout == "default" %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Article",
      "headline": "{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}",
      "description": "{% if page.description %}{{ page.description | strip_newlines | strip_html | truncatewords:30 }}{% else %}{{ page.content | replace:title,'' | markdownify | strip_html | truncatewords:30 | escape_once }}{% endif %}",
      "datePublished": "{{ page.date | date: "%Y-%m-%d" }}",
      {%- if page.last_modified_at %}
      "dateModified": "{{ page.last_modified_at | date: "%Y-%m-%d" }}",
      {%- endif %}
      "author": {
        "@type": "Person",
        "name": "@blu3id",
        "url": "https://blu3id.uk"
      },
      "image": {
        "@type": "ImageObject",
        "url": "{{ site.production_url }}/assets/og-preview/{{ page.url | replace:'index.html','' | split: '/' | last }}.png",
        "width": 1200,
        "height": 600
      }
    }
  </script>
  {%- endif %}