      {%- if page.date %}
        {%- assign _date = page.date %}
        {%- if page.revisions.size > 0 and page.revisions.size < 50 %}
          {%- assign git_date = page.revisions.last.date | date: "%s" | minus: 0 %}
          {%- assign page_date = page.date | date: "%s" | minus: 0 %}
          {%- if git_date > page_date %}
            {%- assign _date = page.revisions.last.date %}
          {%- endif %}
        {%- endif %}
      {%- else if page.revisions.size > 0 %}
        {%- assign _date = page.revisions.last.date %}
        {%- assign git_date = page.revisions.last.date | date: "%s" | minus: 0 %}
        {%- if git_date == 0 %}
          {%- assign _date = site.time %}
        {%- endif %}
      {%- else %}
        {%- assign _date = site.time %}
      {%- endif %}
      <details id="metadata">
        <summary>
          <dl>
            <dt>Published</dt>
            <dd><time datetime="{{ _date | date_to_xmlschema }}">{{ _date | date_to_long_string }}</time></dd>
            <dt>Last Update</dt>
          {%- if page.last_modified_at %}
            <dd><time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ page.last_modified_at | date_to_long_string }}</time></dd>
          {%- else %}
            <dd><time datetime="{{ _date | date_to_xmlschema }}">{{ _date | date_to_long_string }}</time></dd>
          {%- endif %}
          </dl>
          <span>Update History</span>
          <small>{{ page.content | number_of_words }}</small>
        </summary>
        <ul>
        {%- if page.revisions.size > 0 %}
          {%- for rev in page.revisions %}
          <li>
            <time datetime="{{ rev.date | date_to_xmlschema }}">{{ rev.date | date_to_long_string }}</time>
            <span>{{ rev.message | strip_newlines | escape_once }}</span>
          </li>
          {%- endfor %}
        {%- else %}
          <li>
            <time datetime="{{ _date | date_to_xmlschema }}">{{ _date | date_to_long_string }}</time>
            <span>First Published</span>
          </li>
        {%- endif %}
        </ul>
      </details>