        {%- if include.limit %}
          {%- assign limit = include.limit %}
        {%- else %}
          {%- assign limit = 5 %}
        {%- endif %}
        {%- assign pages = site.pages | sort:"date" | reverse | where_exp: "item", "item.draft != true" | where_exp: "item", "item.unlisted != true" | where_exp: "item", "item.date" | where_exp: "item", "item.title != include.exclude" %}
        {%- if include.random %}
          {%- assign pages = pages | sample: limit %}
        {%- endif %}
        {%- for page in pages | limit:limit %}
        <li>
            {%- if page.tag %}
              {%- assign tag = page.tag | capitalize %}
          <span class="tag {{ page.tag }}">{{ page.tag | capitalize }}</span> <a href="{{ page.url }}">{{ page.title | replace:tag,'' | replace:':','' | markdownify | strip_html | strip_newlines }}</a>
            {%- else %}
          <a href="{{ page.url }}">{{ page.title | markdownify | strip_html | strip_newlines }}</a>
            {%- endif %}
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
        </li>
        {%- endfor %}