article {
  word-wrap: break-word;

  h1,
  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }

  > h1 {
    margin-top: 0.2em;

    + p:first-of-type,
    + blockquote.info + p:first-of-type {
      font-size: 1.2em;
    }

    @media screen and (max-width: $max-width) {
      margin-top: 0;
    }
  }

  > h1,
  > h1 .title,
  > h2 {
    text-decoration: underline var(--accent-light);
  }

  > h1,
  > h1 .title {
    text-decoration-thickness: 0.2em;
  }

  h1.with-tag {
    text-decoration: none;
  }

  hr {
    margin: 1.5em auto;
    border: 0;
    border-top: 0.1em solid var(--accent-light);
    max-width: 10ch;
  }

  time {
    font-size: smaller;
    color: var(--color-light);
  }

  small {
    color: var(--color-light);
  }

  a {
    &[href$=".pdf"]:after,
    &[href$=".xlsx"]:after,
    &[href^="http://"]:after,
    &[href^="https://"]:after
    {
      content: "";
      padding-right: 0.9em;
      margin: 0 0.1em 0 0.25em;
    }

    &.rss:before {
      content: "";
      padding-left: 0.9em;
      margin: 0 0.25em 0 0.1em;
      background-color: var(--icon-square-rss-color);
      -webkit-mask: var(--icon-square-rss) no-repeat center 70%;
      mask: var(--icon-square-rss) no-repeat center 70%;
      -webkit-mask-position-y: 70%;
      mask-position: center 70%;
    }

    &[href$=".pdf"]:after {
      background-color: var(--icon-file-pdf-color);
      -webkit-mask: var(--icon-file-pdf-solid) no-repeat center center;
      mask: var(--icon-file-pdf-solid) no-repeat center center;
    }

    &[href$=".xlsx"]:after {
      background-color: var(--icon-file-excel-color);
      -webkit-mask: var(--icon-file-excel-solid) no-repeat center center;
      mask: var(--icon-file-excel-solid) no-repeat center center;
      padding-right: 0.8em;
    }

    &[href^="http://"],
    &[href^="https://"]
    {
      &:after {
        background-color: var(--color-light);
        -webkit-mask: var(--icon-arrow-up-right-from-square) no-repeat center
          70%;
        mask: var(--icon-arrow-up-right-from-square) no-repeat center 70%;
        -webkit-mask-position-y: 70%;
        mask-position: center 70%;
        padding-right: 0.7em;
      }

      &:hover:after,
      &:focus:after,
      &:active:after {
        background-color: var(--box-grey-link-color-hover);
      }
    }

    &[href^="http://"].broken,
    &[href^="https://"].broken
    {
      color: var(--box-grey-link-color);

      &:hover,
      &:focus {
        color: var(--box-grey-link-color-hover);
      }

      &:after {
        background-color: var(--color-light);
        -webkit-mask: var(--icon-link-slash) no-repeat center 70%;
        mask: var(--icon-link-slash) no-repeat center 70%;
        -webkit-mask-position-y: 70%;
        mask-position: center 70%;
        padding-right: 1em;
      }

      &:hover:after,
      &:focus:after,
      &:active:after {
        background-color: var(--box-grey-link-color-hover);
      }
    }

    &[href^="http://"][data-originalurl],
    &[href^="https://"][data-originalurl]
    {
      &:after {
        -webkit-mask: var(--icon-clock-rotate-left) no-repeat center 70%;
        mask: var(--icon-clock-rotate-left) no-repeat center 70%;
        -webkit-mask-position-y: 70%;
        mask-position: center 70%;
        padding-right: 0.7em;
      }
    }
  }

  ol,
  ul {
    padding-left: 2em;
    li {
      margin: 0.25em 0;
      padding-left: 0.25em;
    }
  }

  ul > li {
    > p:first-child {
      margin-top: 0;
    }

    > p:last-child {
      margin-bottom: 0;
    }
  }

  ol {
    padding-left: 1em;
  }

  ol:not(.footnotes ol) {
    counter-reset: li;
    list-style: none;
    position: relative;
    padding-left: 0;

    > li {
      padding: 0.25em 0 0.25em 2.5em;
      border: 0;
      position: relative;
      margin: 0;
      margin-bottom: 0.25em;

      &:before {
        width: 1.5em;
        height: 1.5em;
        font-size: 0.8em;
        margin: 0.25em 0 0 0.5em;
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: 0;
        color: var(--color-inverted);
        font-weight: 500;
        text-align: center;
        border-radius: 50%;
        background-color: var(--accent);
      }

      > p:first-child {
        margin-top: 0;
      }

      > p:last-child {
        margin-bottom: 0;
      }

      > ul {
        list-style-type: disc;
      }
    }
  }

  table {
    display: block;
    width: 100%;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 1em;

    th,
    td {
      padding: 0.3em 0.65em;
      border: 0.05em solid var(--box-grey-background);
    }

    tr {
      background-color: var(--color-inverted);

      &:nth-child(2n) {
        background-color: var(--background);
      }
    }

    th {
      font-weight: 600;
      border-bottom-color: var(--accent);
    }
  }

  img {
    max-width: 100%;
    box-sizing: border-box;
    background-color: var(--color-inverted);
    padding: 0.4em;
    border: 0.1em solid var(--box-grey-background);
    margin: 0 auto;
    display: block;
  }

  figure {
    margin: 1em -1.6em;
    margin: 1em var(--margin--1-6-0);
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: var(--box-grey-background);
    page-break-inside: avoid;
    min-width: 16rem;
    gap: 0.2em;

    @media screen and (max-width: $max-width) {
      margin: 1em 0;
      margin: 1em var(--margin--1-6-0);
    }

    img {
      min-width: 16rem;
      flex: calc(50% - 0.2em);
      padding: 0;
      box-sizing: border-box;
      background-color: unset;
      border: none;
    }

    video {
      max-width: 100%;
      padding: 0;
      box-sizing: border-box;
    }

    figcaption {
      flex-basis: 100%;
      text-align: center;
      font-size: 0.8em;
      font-style: italic;
      padding: 0.125em 0.2em 0.2em;

      a[href] {
        color: var(--box-grey-link-color);
        text-decoration: underline;

        &:hover,
        &:active {
          color: var(--box-grey-link-color-hover);
          text-decoration-thickness: 0.15rem;
        }
      }
    }
  }

  div.footnotes {
    border-top: 0.1em solid var(--accent);
    margin-top: 2.5em;

    ol {
      font-size: 0.9em;
    }
  }

  &.draft {
    > h1::before {
      content: "Draft";
      display: inline-block;
      padding: 0em 0.3em;
      color: var(--color-inverted);
      background-color: var(--color-light);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.75em;
      vertical-align: middle;
      margin-bottom: 0.2em;
      border-radius: 0.1em;
      border: 0.1em solid var(--color-light);
      font-weight: bold;
      margin-right: 0.3em;
    }
  }

  &.journal {
    > h1 + blockquote:first-of-type {
      ul {
        list-style: none;

        li {
          padding-left: 0;

          &:before {
            content: "📰";
            display: inline-block;
            margin-left: -1.75em;
            padding-right: 0.6em;
          }
        }
      }
    }
  }
}
