<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/github-markdown.css">
<link rel="canonical" href="{{ site.production_url }}{{ page.url | replace:'index.html',''}}">
<style>
    @media screen and (max-width: 980px){
        body {
            padding: 25px !important;
        }
    }
    body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
    }
</style>
</head>
<body>
<article class="markdown-body">
<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
{{ content }}
<p><small>{{ page.content | number_of_words }}</small></p>
</article>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-94084358-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>